//@import '../bower_components/bootstrap/less/bootstrap.less';

body {
	
	margin: 0 auto;
}


header {
    background-color: rgb(30, 30, 30);
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    	img{
    		height: 40px; 
    		width: auto;
    		padding: 3px 0;

    	}
    	nav {
    		a{
    		text-decoration: none;
    		color: white;
    		padding: 0 15px;

    		}
    	}

}
input {
	display: block;
}

.types {
	background-color: rgb(150, 150, 160);
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 50px;
		a{
			text-decoration: none; 
			color: white; 
			paddding-right: 30px;
		}
}

.shapes{
	padding: 20px 10px;
		.basic_shapes{
				img{
					border-radius: 50%;
					border: 0.5px solid black;
					padding:15px;
				}
		}
}

.main{
	display: flex;
	align-items: start;
	height: 100%; 
	background-color: rgb(170, 170, 180);
	
		.settings{
			padding: 50px 10px;
			width:20%;
			background-color: white;
			border-radius: 5px;
			margin: 10px;
			margin: 25px;

		}
		.draw{
		
		width:80%;
		height: 100%;
		margin: 25px;

        		.cnavas{
        			border: 1px solid black;
        			
        		}
		}
		

}



.canvas-container { 
	 
	 background-color: white;
	 width: 100%;
	 height: 100%;
	 border-radius: 5px;

}

button {
	background-color: black; 
	color: white; 
	border: 1 px solid gray;
}

lable{
	color: white;
}

